html * {
  font-family: lato;
}

body {
  background-color: #2d2d2d;
}

.aboutText {
  color: #f0f0f0;
}

.aboutText a:link {
  color: #76d275;
}

.aboutText a:visited {
  color: #a4a4a4;
}

.aboutText a:hover {
  color: #43a047;
}

#baseScript {
  white-space: pre-wrap;
}

.cardName {
  color: #f0f0f0;
}

.downloadList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.editionCaption {
  width: 150px;
  word-wrap: break-word;
  margin: auto;
}

.editionImage img {
  max-width: 145px;
  max-height: 203px;
}

.editionImage {
  width: 145px;
  height: 203px;
  border: solid;
  border-color: #f0f0f0;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin: 5px;
  padding: 1px;
}

.ms {
  color: black;
}

.navLink {
  font-size: 2.8em;
}

h1.pageTitle {
  text-align: center;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 2.8em;
}

.scriptDisplay {
  color: #f0f0f0;
}

.scriptEntry {
  margin-top: 15px;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.versionDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  list-style-type: none;
  text-align: center;
}