#baseScript {
  white-space: pre-wrap;
}

.blurb {
  font-size: 14pt;
  text-align: center;
}

.cardList {
  display: flex;
  flex-direction: row;
}

.error {
  text-align: center;
}

img.versionSelect {
  max-width: 146px;
  max-height: 204px;
}

.pageTitle a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.versionDisplay {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  text-align: center;
}

/*body {
  background-color: #a4a4a4;
}*/