html * {
  font-family: lato;
}

.appContainer {
  display:flex;
  justify-content: center;
}

.downloadList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

#imageSelect {
  margin: 15px 10px;
}

.loadingText {
  margin: auto;
}

.ms {
  color: black;
}

.navLink {
  font-size: 2.8em;
  background-color: red;
}

h1.pageTitle {
  text-align: center;
  text-decoration: none;
  font-size: 2.8em;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* cardList & text input styling*/
.cardList {
  margin-top: 15px;
}

/* unselected card images styling */
.unselectedCardGroup {
  list-style-type: none;
}

.unselectedCardImages {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  text-align: center;
  flex: 1 1 0px;
}

.unselectedEditionContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 5px 8px;
}

.editionImage img {
  max-width: 145px;
  max-height: 203px;
}