services:
  - type: cron
    name: update-staging-db
    env: docker
    plan: starter
    region: oregon
    schedule: "0 0 * * *"  # Daily at midnight UTC
    buildCommand: npm install
    startCommand: npm run pullBulkData:staging
    envVars:
      - key: NODE_ENV
        value: staging
      - key: RENDER
        value: true
      - key: DB_URL
        sync: false
      - key: DB_NAME
        sync: false
      - key: LOG_LEVEL
        value: info
