<div class="header">
  <h1>MTGScriptAutomater</h1>
</div>

<div class="script_input">
  <form action="/cardLookup" method="POST">
    <textarea name="script" placeholder="TESTING..."></textarea>
    <input type="submit" value="submit">
  </form>
</div>