<div class="header">
  <h1>Results</h1>
</div>

<ul>
	<% for (let i = 0; i < cardImages.length; i ++) { %>
		<% for (let j = 0; j < cardImages[i].length; j ++) { %>
			<li> <img src="<%= cardImages[i][j] %>"> </li>
		<% } %>
	<% } %>
</ul>